body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.img-1 {
  background-image: url("images/1.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-2 {
  background-image: url("images/2.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-3 {
  background-image: url("images/3.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-4 {
  background-image: url("images/4.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-5 {
  background-image: url("images/5.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-6 {
  background-image: url("images/6.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-7 {
  background-image: url("images/7.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-8 {
  background-image: url("images/8.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-9 {
  background-image: url("images/9.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-10 {
  background-image: url("images/10.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-11 {
  background-image: url("images/11.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-12 {
  background-image: url("images/12.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-13 {
  background-image: url("images/13.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-14 {
  background-image: url("images/14.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-15 {
  background-image: url("images/15.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-16 {
  background-image: url("images/16.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-17 {
  background-image: url("images/17.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-18 {
  background-image: url("images/18.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-19 {
  background-image: url("images/19.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-20 {
  background-image: url("images/20.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-21 {
  background-image: url("images/21.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-22 {
  background-image: url("images/22.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-23 {
  background-image: url("images/23.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-24 {
  background-image: url("images/24.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-25 {
  background-image: url("images/25.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-26 {
  background-image: url("images/26.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-27 {
  background-image: url("images/27.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-28 {
  background-image: url("images/28.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-29 {
  background-image: url("images/29.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-30 {
  background-image: url("images/30.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-31 {
  background-image: url("images/31.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-32 {
  background-image: url("images/32.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-33 {
  background-image: url("images/33.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-34 {
  background-image: url("images/34.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-35 {
  background-image: url("images/35.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-36 {
  background-image: url("images/36.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-37 {
  background-image: url("images/37.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-38 {
  background-image: url("images/38.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-39 {
  background-image: url("images/39.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-40 {
  background-image: url("images/40.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-41 {
  background-image: url("images/41.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-42 {
  background-image: url("images/42.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-43 {
  background-image: url("images/43.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-44 {
  background-image: url("images/44.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-45 {
  background-image: url("images/45.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-46 {
  background-image: url("images/46.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-47 {
  background-image: url("images/47.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-48 {
  background-image: url("images/48.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-49 {
  background-image: url("images/49.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.img-50 {
  background-image: url("images/50.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.void {
  background-image: url("images/void.png");
  background-size: cover;
  width: 70px;
  height: 70px;
  background-color: white;
  margin: 6px 3px 6px 3px;
}

.menu {
  width: 100%;
  height: 120px;
  margin: 0 0 100px 0;
  font-weight: bold;
  color: white;
  font-size: 80px;
  text-align: center;
  background-color: #da8767;
}

#wholePexeso {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.rowCards {
  background-color: #f1ecde;
}

/*# sourceMappingURL=styles.css.map */
